main {
  display: flex;
  flex-wrap: wrap;
}

#pictures {
  display: flex;
  list-style: none;
}

div {
  margin-right: 25px;
  margin-left: 25px;
}

body {
  background-image: url("https://i.imgur.com/xIrjBZE.jpg?1");
}