h1 {
  color: rgb(2, 30, 55);
  text-align: center;
}

div {
  list-style: none;
}

section {
  display: flex;
}

#picture-artist {
  display: flex;
}

div {
  margin-right: 25px;
  margin-left: 25px;
}